* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(23, 130, 130);
}

#startPage {
  text-align: center;
  margin-top: 100px;
  padding: 50px;
  background-color: rgb(38, 157, 157);
}

h1 {
  font-size: 50px;
  font-weight: bold;
  color: rgb(15, 17, 17);
  letter-spacing: 1px;
  font-family: "Courier New", Courier, monospace;
}

form {
  margin-top: 30px;
}

label {
  font-size: 20px;
  margin-right: 10px;
  color: brown;
}

input {
  padding: 5px;
  font-size: 14px;
}

#startGameBtn {
  padding: 5px 10px;
  font-size: 14px;
  margin-left: 10px;
  background-color: brown;
  color: aliceblue;
  border-radius: 5px;
  cursor: pointer;
  letter-spacing: 1px;
  border-color: brown;
  
}

.hidden {
    display: none;
}

#homeBtn {
  padding: 5px 10px;
  font-size: 14px;
  margin-left: 10px;
  background-color: brown;
  color: aliceblue;
  border-radius: 5px;
  cursor: pointer;
  letter-spacing: 1px;
  border-color: brown;
  margin-top: 10px;
}

#resetBtn {
  background-color: brown;
  padding: 5px 10px;
  display: block; 
  margin: 20px auto; 
  font-size: 14px;
  color: aliceblue;
  border-radius: 5px;
  cursor: pointer;
  letter-spacing: 2px;
  border-color: brown;

}

.score-board {
  border: 3px solid white;
  width: 350px;
  margin: 20px auto;
  color: white;
  font-size: 40px;
  border-radius: 4px;
  text-align: center;
  padding: 15px 10px 15px 10px;
  position: relative;
}

.badge {
  background: brown;
  color: white;
  font-size: 20px;
  padding: 2px 5px;
  border-radius: 10px;
  font-family: "Courier New", Courier, monospace;
}

#user-label {
  position: absolute;
  top: 25px;
  left: 0;
  transform: translateX(-50%);
  text-align: center;
}

#computer-label {
  position: absolute;
  top: 25px;
  right: -38px;
}

.result {
  font-size: 40px;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.choices {
  display: flex;
  justify-content: center;
  margin: 50px auto;
}

.choice {
  display: inline-block;
  margin: 15px;
  padding: 20px;
  transition: all 0.3 ease;
  border: 3px solid white;
  border-radius: 50%;
}

.choice i {
  font-size: 8em;
  margin-right: 10px;
  padding: 10px;
}

.choice:hover {
  cursor: pointer;
  background: rgb(116, 116, 136);
}

@media only screen and (min-width: 1024px) {
  #startPage {
    max-width: 100%;
  }
}

@media only screen and (max-width: 768px) {
    #homeBtn {
        margin: 40px auto 0;
        display: block;
    }
    
    .score-board {
        width: 50%;
    }
    .choices {
        display: flex;
        flex-direction: column; 
        align-items: center; 
    }

    .choice {
        margin: 10px 0; 
        padding: 20px; 
    }

    .choice i {
        font-size: 7em; 
    }
}



 
  
